@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Poppins", sans-serif;
  --secondary_font: "Inter", sans-serif;
  --white: #ffffff;
  --gray_dark: #3a3a3a;
  --gray_light: #787885;
  --gray_50: #787885;
  --dark_pink: #e02c6d;
  --dark_blue: #18191f;
  --black: #000000;
}

/* common css style */
.width {
  max-width: 1200px;
  margin: 0 auto;
}

/* main css style */
/* header related style */
body {
  padding: 5px;
}

nav {
  font-family: var(--primary_font);
  color: var(--gray_dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

nav .bar-icon {
  display: none;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

nav li a {
  text-decoration: none;
  color: var(--gray_dark);
  font-weight: 600;
}

/* hero section related style */
#hero-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

#hero-section .hero-content {
  max-width: 582px;
}

#hero-section .hero-content h2 {
  font-family: var(--primary_font);
  font-weight: bold;
  line-height: 70px;
  font-size: 3.25rem;
  color: var(--gray_dark);
  margin-bottom: 18px;
}

#hero-section .hero-content p {
  font-family: var(--primary_font);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 38px;
}

#hero-section .hero-content button {
  font-family: var(--primary_font);
  font-weight: bold;
  color: var(--white);
  border: none;
  background-color: var(--dark_pink);
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
}

#hero-section .hero-content button i {
  margin-left: 5px;
}

#hero-section .hero-img {
  max-width: 700px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 418px;
}

#hero-section .hero-img img {
  max-width: 440px;
}

/* companies related style */
#companies-section {
  margin-top: 70px;
}

#companies-section .companies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* popular-collection related style */
#popular-collection {
  margin-top: 100px;
}

#popular-collection h2 {
  font-family: var(--primary_font);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray_dark);
  margin-bottom: 30px;
  text-align: center;
}

#popular-collection .collection-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

#popular-collection .collection-boxes .collection-box {
  max-width: 330px;
  padding: 15px;
  box-shadow: 0 0 40px 0 #00000015;
  border-radius: 5px;
}

#popular-collection .collection-boxes .collection-box img {
  width: 100%;
}

#popular-collection .collection-boxes .collection-box h3 {
  font-family: var(--primary_font);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark_blue);
  margin-bottom: 8px;
}

#popular-collection .collection-boxes .collection-box h4 {
  font-family: var(--secondary_font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 8px;
}

#popular-collection .collection-boxes .collection-box p {
  font-family: var(--secondary_font);
  font-size: 0.87rem;
  font-weight: bold;
  color: var(--gray_50);
  line-height: 1.5;
}

#popular-collection .collection-boxes .collection-box .star-ratting ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-family: var(--primary_font);
  color: #5e6366;
  font-weight: bold;
}

#popular-collection .collection-boxes .collection-box .star-ratting ul li img {
  width: 16px;
  height: 16px;
}

#popular-collection
  .collection-boxes
  .collection-box
  .star-ratting
  ul
  li:last-child {
  margin-left: 10px;
}

/* another section */

/* responsive style */
/* for mobile device */
@media screen and (max-width: 576px) {
  nav .bar-icon {
    display: block;
  }

  nav h2 {
    font-size: 1.06rem;
  }

  nav ul li:not(:last-child) {
    display: none;
  }

  /* banner related style */
  #hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  #hero-section .hero-content h2 {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-bottom: 18px;
  }

  #hero-section .hero-content p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 22px;
  }

  #hero-section .hero-img {
    width: 257px;
    height: 257px;
    object-fit: cover;
    background-size: 257px;
  }

  #hero-section .hero-img img {
    width: 100%;
  }

  /* companies related style */
  #companies-section {
    margin-top: 50px;
  }

  /* popular-collection related style */
  #popular-collection {
    margin-top: 60px;
  }

  #popular-collection .collection-boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  /* another section */
}

/* for laptop or medium device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav h2 {
    font-size: 1.18rem;
  }

  nav ul {
    gap: 17px;
  }

  nav ul li a {
    font-size: 14px;
    font-weight: 500;
  }

  /* banner related style */
  #hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  #hero-section .hero-content h2 {
    font-size: 2.8rem;
  }

  #hero-section .hero-content p {
    margin-bottom: 28px;
  }

  #companies-section {
    margin-top: 60px;
  }

  /* popular-collection related style */
  #popular-collection {
    margin-top: 60px;
  }

  #popular-collection .collection-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  /* another section */
}
