@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Poppins", sans-serif;
  --secondary_font: "Inter", sans-serif;
  --gray_dark: #3a3a3a;
  --gray_light: #787885;
}

/* common css style */
.width {
  max-width: 1200px;
  margin: 0 auto;
}

/* main css style */
/* header related style */
body {
  padding: 5px;
}

nav {
  font-family: var(--primary_font);
  color: var(--gray_dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

nav .bar-icon {
  display: none;
}

nav h2 {
  font-size: 24px;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

nav li a {
  text-decoration: none;
  color: var(--gray_dark);
  font-weight: 600;
}

/* hero section related style */
#hero-section {
  margin-top: 40px;
}

/* responsive style */
/* for mobile device */
@media screen and (max-width: 576px) {
  nav .bar-icon {
    display: block;
  }

  nav h2 {
    font-size: 17px;
  }

  nav ul li:not(:last-child) {
    display: none;
  }

  /* banner related style */
}

/* for laptop or medium device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav h2 {
    font-size: 19px;
  }

  nav ul {
    gap: 17px;
  }

  nav ul li a {
    font-size: 14px;
    font-weight: 500;
  }

  /* banner related style */
}
